*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("../imagens/background.jpg");
}
.interface{
	margin: auto;
	width: 800px;
	box-shadow:1px 1px 7px #fff ;
	background-color: rgba(255,255,255,.8);
}
/*Cabeçalho*/
header{
	width: 100%;
}
header ul{
	margin-top: -4px;
	list-style: none;
	background-color: #ebebeb;
	padding: 6px;
}
header ul li  {
	text-transform: uppercase;
	font-family: "Trebuchet MS";
	display: inline;
	padding: 6px;
}
header ul li :hover{
	color: #fff;
	padding: 6px;
	transition: 1s;
	background-color: rgba(0,0,0,.6);
}
header ul li a{
	text-decoration: none;
	color: #000;
}

/*Corpo*/

article {
	width: 650px;
	padding:10px;
}
article h1 {
	font-family: cursive;
	margin-bottom: 9px;
	margin-left: 10px;
	color:yellow;
	text-shadow: 4px 2px 7px #000;
}
article p{
	text-indent:25px;
	text-align: justify;
	font-family: "Goudy Bookletter 1911", sans-serif;
	font-style: italic;
}
.descricao img{
	margin-top: 3px;
	padding: 5px;
	width: 100%;
	height: 250px;
	background-color:#fff;
	border:1px solid black;
}
footer{
	text-align:center;
	border-top: 1px solid black;
}

th{
	border-radius: 5px;
	padding: 5px;
	background-color: #000;
	color:#fff;
}
td{
	text-align: center;
}
td img{
	border-radius: 5px;
	border:1px solid black;
}